table.dataTable thead .sorting, 
table.dataTable thead .sorting_asc, 
table.dataTable thead .sorting_desc {
    background : none;
}

table.dataTable thead .sorting {
    content: none;
}
table.dataTable thead .sorting_desc::after {
    content: none;
}
table.dataTable thead .sorting::after {
    content: none;
}
.DataTables_sort_wrapper{
	display: inline-flex;
}
.input-group > .btn-group {
    display: flex;
}
tr.group,
tr.group:hover {
    background-color: #ddd !important;
}

/*Imagen Responsive*/
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    height: auto;
    max-width: 100%;
}
.carbonad {
    margin: 0 !important;
    padding: 12px !important;
    position: absolute;
    right: 95px;
    top: 0;
    width: 193px !important;
}