<div id="container">
	<h1>Inserta Sección!</h1>
	<div id="body">
		<p>Insertar secciones en el Sistema.</p>
		<form action="seccion/save/{{seccion.idsec}}" method="post" id="form_seccion" name="form_seccion">
			<div class="form-group">
				<label>iddep1: </label>
				{{form_input('idsec',seccion.idsec,"class='form-control' disabled=''")}}
			</div>
			<div class="form-group">
				<label>Seccion: </label>
				{{form_input('seccion',seccion.seccion,"class='form-control'")}}
				{{form_hidden('iddep',id_departamento)}}
			</div>
	<button type="submit" class ="btn btn-default btn-block">Guardar</button>
		</form>
<!--<a href="<?php echo site_url('seccion');?>/listar">Listar</a>-->
</div>
</div>
<script type="text/javascript">
$( "#form" ).submit(function( event ) {
  event.preventDefault();
    var $form = $( this ),
    data = $form.serialize(),
    url = $form.attr( "action" );
	$.ajax({
	  type: "POST",
	  url: url,
	  data: data,
	  success: function(response){
              post_departamento(response);
              return false;
	  },
	  dataType: "json"
	});
});
</script>