<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /reloj/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /reloj/index.php [L]
</IfModule>