{%extends _layout%}
{%block content%}
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Notificación</h1>
	</div>
	<div class="alert alert-success alert-dismissable">
		Empresa {{nombree}} guardada satisfactoriamente!</h1>
		<a href="{{ site_url("empresa")}}" class="btn btn-info"> Regresar</a>
	</div>
</div>
{%endblock%}