<?php
defined('BASEPATH') OR exit('No direct script access allowed');
?><!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Reloj | Departamento</title>
</head>
<body>
<div id="container">
	<h1>Lista Departamentos!</h1>
	<div id="body">
		<p>Listado de Departamentos en el Sistema.</p>
		<table>
			<thead>
				<th>IDEEM</th></th>
				<th>IDDEP</th></th>
				<th>Departamento</th></th>
				
			</thead>
		{datos}
			<tr>
				<th>{ideem}</th></th>
				<td>{iddep}</td></td>
				<td>{departamento}</td></td>
				
			</tr>
		{/datos}
		</table>
		<a href="<?php echo site_url('departamento')?>/buscar_vista">Buscar</a>
</body>
</html>
<html>
<body>
	<p>
		<a href="<?php echo site_url("departamento")?>">Ingresar otro departamento</a>
	</p>
</body>
</html>