{% extends _layout %}

{% block content %}


<div id="content" class="bs-docs-header" tabindex="-1">
<div class="container">
<h1>Control de Ingreso del Personal</h1>
<p>Sistema que permite controlar los registros diarios de los empleados.</p>
<div id="carbonads-container">
<div class="carbonad">
<div id="azcarbon">
<span>
</div>
<script>
var z = document.createElement("script"); z.async = true; z.src = "http://engine.carbonads.com/z/32341/azcarbon_2_1_0_HORIZ"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(z, s);
</script>
</div>
</div>
</div>
</div>

<div class="container bs-docs-container">
<div class="row">
<div class="col-md-9" role="main">
<div class="bs-docs-section">
<h1 id="overview" class="page-header">
<a class="anchorjs-link " data-anchorjs-icon="" aria-label="Anchor link for: overview" href="#overview" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>
Conozcanos más
</h1>
<p class="lead">La empresa esta encargada de brindar servicios de control del personal de manera remota, brnidando a su empresa un acceso eficiente a los reportes de ingresos.</p>
<h2 id="overview-doctype">
<a class="anchorjs-link " data-anchorjs-icon="" aria-label="Anchor link for: overview doctype" href="#overview-doctype" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>
Extras
</h2>
<p>Permitanos acercarle a la tecnología web.</p>
</div>
</div>
</div>
</div>
{% endblock %}