<div id="container">
    <h1>Permisos!</h1>

    <div id="body">
        <p>Modifica las picadas del empleado.</p>
        {{titulo}}
        <form action="permiso/save_picada/{{data.id}}" method="post" id="empleado_form">
            <!--{form_open("empleados/save")}-->
            <div class="form-group">
                <label>Nombres: </label>
                <input name="nombre" class='form-control' value="{{data.nombre}}"/>
            </div>
            <div class="form-group">
                <label>Horario: </label>
                {#form_dropdown('id_horario',horarios,data.id_horario,'class="chosen-select form-control" data-placeholder="Escoje un horario"')#}
                {% for data in horario %}
                    {% include '_layouts/horario_especial.html.twig' %}
                {% else %}
                    {% include '_layouts/horario_especial.html.twig' %}
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-success">Guardar</button>
            <!--End Form Permissions-->
        </form>
    </div>
</div>
<script>
</script>