<div class='input-group date' id='datetimepicker3'>
    <input name='picada[]' type='text' class="form-control" value="{{picada}}"/>
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-time"></span>
    </span>
    <div class="btn-group">
        <button id="btn_nuevo" type="button" class="btn btn-success">Nuevo</button>
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
            <li><a id="btn_borrar" href="#">Borrar</a></li>
        </ul>
    </div>
</div>