{% block content %}
<div id="container">
	<h1>Inserta Empleado!</h1>

	<div id="body">
		<p>Insertar empleados en el Sistema.</p>
		{{titulo}}
		<form action="empleados/save" method="post">
		<!--{form_open("empleados/save")}-->
			<div class="form-group">
			 <label>ID: </label>
			 <input id="id" name="id" class='form-control'  disabled=''/>
			</div>
			<div class="form-group">
				<label>Nombres: </label>
				<input name="nombre" class='form-control'/>
			</div>
			<div class="form-group">
				<label>Apellidos: </label>
				<input name="apellido" class='form-control'/>
			</div>
			<div class="form-group">
				<label>Edad: </label>
				<input name="edad" class='form-control'/>
			</div>
			<div class="form-group">
				<label>Cedula: </label>
				<input name="cedula" class='form-control'/>
			</div>
			<div class="form-group">
				<label>Estado Civil: </label>
					<select name="estadocivil" class='form-control'>
						<option value="Casado/a">Casado/a</option>
						<option value="Soltero/a">Soltero/a</option>
						<option value="Viudo/a">Viudo/a</option>
						<option value="Unión de hecho">Union de Hecho</option>
					</select>  
 			</div>
			<div class="form-group">	
				<label>Dirección: </label>
				<input name="direccion" class='form-control'/>
			</div>
			<div class="form-group">	
				<label>ID Reloj: </label>
				<input name="id_reloj" class='form-control'/>
			</div>
			<div class="form-group">
				<label>Fecha: </label>
				<input name="fecha" class='form-control'/>
			</div>
			<button type="submit" class="btn btn-success">Guardar</button>
		</form>
{% endblock %}